.app {
  background-color: #282c34;
  min-height: 100vh;
}

.app-container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textfield-container {
  margin-left: 16px;
}

.button-container {
  margin-left: 8px;
}

.button {
  width: auto;
  height: 24px;
}

.items-list {
  color: white;
}
